<ul>
{% for chipsample in record.chipsample.all %}
    <li>

<form
  onsubmit="addNewTab(event, '{{ record.protocol_id }}<br>{{ chipsample.chip.chip_id }}-{{ chipsample.position }}', '{{ chipsample.pk }}'); return false;"
  hx-get="{% url 'sample' %}"
  hx-target="#chipsample-results-{{ chipsample.pk }}"
  hx-swap="innerHTML"
>
    <input type="hidden" name="chipsample_pk" value={{ chipsample.pk }}>
    <button>
    {{ chipsample.chip.chip_id }}_{{ chipsample.position }}
    </button>
</form>
</li>
{% endfor %}


</ul>
