<a href="#" id="theme_switcher"></a>

<script>
  let isLight = true;
  const html = document.documentElement;
  const switchTheme = document.getElementById("theme_switcher");
  const os_default = '<i class="fa-solid fa-circle-half-stroke"></i>';
  const sun = '<i class="fa-solid fa-sun"></i>';
  const moon = '<i class="fa-solid fa-moon"></i>';

  // Check and set theme from localStorage
  document.addEventListener("DOMContentLoaded", () => {
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      isLight = savedTheme === "light";
      html.setAttribute("data-theme", savedTheme);
      switchTheme.innerHTML = isLight ? sun : moon;
      switchTheme.setAttribute("data-tooltip", `theme ${savedTheme}`);
    } else {
      switchTheme.innerHTML = os_default;
      html.setAttribute("data-theme", "auto");
      switchTheme.setAttribute("data-tooltip", "os theme");
    }
    switchTheme.focus();
    removeTooltip(3000);
  });

  switchTheme.addEventListener("click", (e) => {
    e.preventDefault();
    isLight = !isLight;
    const theme = isLight ? "light" : "dark";
    html.setAttribute("data-theme", theme);
    switchTheme.innerHTML = isLight ? sun : moon;
    switchTheme.setAttribute("data-tooltip", `theme ${theme}`);
    localStorage.setItem("theme", theme); // Save theme to localStorage
    removeTooltip();
  });

  const removeTooltip = (timeInt = 1750) => {
    setTimeout(() => {
      switchTheme.blur();
    }, timeInt);
  };
</script>
