{% load static %}

<div style="min-width:9vw; height:96vh; display:flex; flex-direction:column;">
  <img
    src="{% static 'canvas/img/canvas.png' %}"
    alt="canvas_logo"
    style="width:10em"
  />

  <p>version: v24.10</p>
  <p>commit: {{ canvas_version }}</p>

  <aside style="flex-grow:1;">
    <nav>
      <ul>
        <li>
          <a
            data-tooltip="Browse your samples or add new samples."
            data-placement="right"
            href="#"
            @click="showSamples()"
            :class="views.currentView === 'samples' ? 'primary' : 'secondary'"
          >
            <i class="fa-solid fa-vial"></i>
            <span>Samples</span>
          </a>
        </li>
        <li>
          <a
            data-tooltip="Browse/edit chips or upload idats."
            data-placement="right"
            href="#"
            @click="showChips()"
            :class="views.currentView === 'chips' ? 'primary' : 'secondary'"
          >
            <i class="fa-solid fa-grip-vertical"></i>
            <span x-show="sidebar.isExpanded">Chips</span>
          </a>
        </li>

        <li>
          <a
            href="#"
            @click="showAcmgLoss()"
            :class="views.currentView === 'acmgLoss' ? 'primary' : 'secondary'"
          >
            <span x-show="sidebar.isExpanded">ACMG Loss</span>
          </a>
        </li>

        <li>{% include 'canvas/dark_mode_toggle.html' %}</li>
      </ul>
    </nav>
  </aside>

  <!-- Include Logout Form -->
  {% include "canvas/logout.html" %}
</div>
