{% load static %}

    <div :class="sidebar.isExpanded ? 'w-1/5' : 'w-16'" class="bg-gray-100 border-r border-gray-300 flex flex-col">
        <div class="flex justify-between p-4">
            <div x-show="sidebar.isExpanded" class="font-bold text-lg">
                <img class="inline-block h-12" src="{% static 'canvas/img/canvas_logo.png' %}" alt="canvas_logo">
                CaNVas
            </div>
            <button @click="sidebar.isExpanded = !sidebar.isExpanded" class="text-gray-600 focus:outline-none">
                <svg x-show="sidebar.isExpanded" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                <svg x-show="!sidebar.isExpanded" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>

        <ul class="flex-grow">
            <li>
                <button
                    @click="showSampleSearch()"
                    class="w-full py-2 px-4 flex items-center justify-start text-left"
                    :class="{'bg-blue-500 text-white': views.currentView === 'sampleSearch'}"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6">
                        <path d="M342.6 9.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l9.4 9.4L28.1 342.6C10.1 360.6 0 385 0 410.5L0 416c0 53 43 96 96 96l5.5 0c25.5 0 49.9-10.1 67.9-28.1L448 205.3l9.4 9.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-32-32-96-96-32-32zM205.3 256L352 109.3 402.7 160l-96 96-101.5 0z"/>
                    </svg>
                    <span x-show="sidebar.isExpanded" class="ml-2">Samples</span>
                </button>
            </li>
            <li>
                <button
                    @click="showSampleInput()"
                    class="w-full py-2 px-4 flex items-center justify-start text-left"
                    :class="{'bg-blue-500 text-white': views.currentView === 'sampleInput'}"
                >
                    <span x-show="sidebar.isExpanded" class="ml-2">Sample Input</span>
                </button>
            </li>
            <li>
                <button
                    @click="showChipInput()"
                    class="w-full py-2 px-4 flex items-center justify-start text-left"
                    :class="{'bg-blue-500 text-white': views.currentView === 'chipInput'}"
                >
                    <span x-show="sidebar.isExpanded" class="ml-2">Chip Input</span>
                </button>
            </li>
            <!-- ... other sidebar items ... -->
        </ul>

        <!-- Include Logout Form -->
        <div class="mt-auto p-4">
            {% include "canvas/logout.html" %}
        </div>
    </div>
