{% load sortedchip %}

<article class="chip-container">
  <header>
    <h2 style="display:inline">{{ chip }}</h2>
    <span class="badge pico-background-cyan-500">{{ chip.chip_type }}</span>
    <nav style="float:right; transform:translateY(-25%);">
      <ul>
        <li>
          <a href="#">
            <i class="fa-solid fa-play pico-color-green-500"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            hx-get="{% url 'chip_edit' %}"
            hx-vals='{"chip_pk": "{{ chip.pk }}"}'
            hx-target="closest article"
            hx-swap="outerHTML swap:200ms"
          >
            <i class="fa-solid fa-pencil pico-color-blue-500"></i>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="grid">
    {% for chipsample_rows in chip|sortedchip %}
      <div class="sample-row">
        {% for chipsample in chipsample_rows %}
          {% if chipsample.sample %}
            <article class="sample">
              <p>{{ chipsample.position }}</p>
              <p>{{ chipsample.sample.protocol_id }}</p>
            </article>
          {% else %}
            <article class="sample">
              <p>{{ chipsample }}</p>
              <p>No sample</p>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</article>
