<form>
<article>
    <header>
      <nav style="float:right; transform:translateY(-25%);">
        <ul>
          <li>
            <a
              hx-post="{% url 'sample_edit' %}"
              hx-target="closest form"
              hx-swap="outerHTML"
              hx-vals='{"sample_pk": "{{ sample.pk }}"}'
              href="#"
          
            >
              <i class="fa-solid fa-check pico-color-green-500"></i> <!-- Submit butonu -->
            </a>
          </li>
          <li>
            <a
              hx-post="{% url 'sample_edit' %}"
              hx-target="closest form"
              hx-swap="outerHTML"
              hx-vals='{"sample_pk": "{{ sample.pk }}", "edit": "false"}'
              href="#"
              
            >
              <i class="fa-solid fa-xmark pico-color-red-500"></i> <!-- Close butonu -->
            </a>
          </li>
        </ul>
      </nav>
      <strong>Protocol ID:</strong>
      <input type="text" id="edit_protocol_id" name="protocol_id" value="{{ sample.protocol_id }}">
  </header>

  <div style="display:flex; flex-direction: row; text-wrap: nowrap;" >
    <label for="arrival_date"><strong>Arrival Date:</strong></label>
    <input type="date" id="edit_arrival_date" name="arrival_date" value="{{ sample.arrival_date|date:'Y-m-d' }}"> <!-- Düzenlenebilir ve takvim ile seçilebilir -->
  </div>

  <p>
    <strong>Sex:</strong>
    <select name="sex" id= "edit_sex" class="form-control">
      <option value="" disabled hidden>{{ sample.get_sex_display }}</option>
      <option value="Female" {% if sample.sex == "Female" %}selected{% endif %}>Female</option>
      <option value="Male" {% if sample.sex == "Male" %}selected{% endif %}>Male</option>
    </select> <!-- Düzenlenebilir -->
  </p>

  <p>
    <strong>Entry Date:</strong>
    <input type="date" id="edit_entry_date" name="entry_date" value="{{ sample.entry_date }}"> <!-- Düzenlenebilir ve takvim ile seçilebilir -->
  </p>

  <p>
      <strong>Sample Type:</strong>
      {% include 'canvas/components/generic_search.html' with model_name="SampleType" field_name="name" isSingleSelect="true" eventName="None" selectedItem=sample.sample_type %}
      <span>{{ sample.sample_type }}</span> <!-- Sadece görüntülenir -->
  </p>
  
  <p>
    <strong>Scan Date:</strong>
    <input type="date" id="edit_scan_date" name="scan_date" value="{{ sample.scan_date }}"> <!-- Düzenlenebilir ve takvim ile seçilebilir -->
  </p>
  
</article>
</form>



