<div id="sample-input-row-{{ label }}" class="sample-input-row grid grid-cols-7 gap-4 p-4 border-b border-gray-200 items-center"
        hx-get="{% url 'get_sample_input_row' %}"
        hx-trigger="input[this === document.querySelector('#sample-input-rows > .sample-input-row:last-child')]"
        hx-target="#sample-input-rows"
        hx-swap="beforeend">
    <input class="protocol-id-input w-full p-2 border border-gray-300 rounded" type="text" name="protocol_id" required>
    <div>
        {% with label=label %}
            {% include "canvas/components/institution_search.html" %}
        {% endwith %}
    </div>
    <div class="relative" x-data="{ openSampleType: false, selectedSampleType: '' }" @click.away="open = false">
        <input
            class="w-full p-2 border border-gray-300 rounded"
            type="search" name="sample-type-search" placeholder="Search sample types..."
            hx-post="{% url 'sample_type_search' %}"
            hx-trigger="input changed delay:500ms"
            hx-target="#sample-results"
            @input="openSampleType = true"
            x-model="selectedSampleType"/>
        <ul x-show="openSampleType" class="absolute mt-1 w-full bg-white shadow-lg rounded max-h-60 overflow-y-auto z-10"
            id="sample-results" @click.away="openSampleType = false" @click="selectedSampleType = $event.target.textContent.trim(), openSampleType = false">
        </ul>
    </div>
    <input class="w-full p-2 border border-gray-300 rounded" type="date" name="arrival_date" required>
    <input class="w-full p-2 border border-gray-300 rounded" type="date" name="study_date">
    <input class="w-full p-2 border border-gray-300 rounded" type="text" name="description">
    <div class="flex items-center">
        <input class="w-full p-2 border border-gray-300 rounded mr-2" type="number" name="concentration" min="0" step="0.1" required>
        <button type="button" onclick="removeRow(this)" class="text-red-500 hover:text-red-700">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
            </svg>
        </button>
    </div>
</div>
