<div
  id="sample-input-row-{{ label }}"
  style="height: 4em;"
  class="sample-input-row grid"
  hx-get="{% url 'get_sample_input_row' %}"
  hx-trigger="input[this === document.querySelector('#sample-input-rows > .sample-input-row:last-child')]"
  hx-target="#sample-input-rows"
  hx-swap="beforeend"
>
  <input autocomplete="off" type="text" name="protocol_id" required />

  {% include 'canvas/components/generic_search.html' with model_name="Institution" field_name="name" isSingleSelect="true" eventName="None" %}
  {% include 'canvas/components/generic_search.html' with model_name="SampleType" field_name="name" isSingleSelect="true" eventName="None" %}

  <input autocomplete="off" type="date" name="arrival_date" required />
  <input autocomplete="off" type="date" name="study_date" />
  <input autocomplete="off" type="text" name="description" />

  <select name="sex" aria-label="Enter observed sex" required>
    <option selected disabled value="">Enter observed sex…</option>
    <option>Male</option>
    <option>Female</option>
    <option>Unknown</option>
  </select>

  <input
    autocomplete="off"
    type="number"
    name="concentration"
    min="0"
    step="0.1"
    required
  />

  {% include 'canvas/components/generic_search.html' with model_name="Sample" field_name="protocol_id" isSingleSelect="true" eventName="None" %}

  <a href="#" style="text-align:center;" onclick="removeRow(this)">
    <i class="fa-solid fa-trash"></i>
  </a>
</div>
