<div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-4xl mx-auto">
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R01C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R01C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R02C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R02C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R03C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R03C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R04C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R04C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R05C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R05C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R06C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R06C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R07C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R07C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R08C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R08C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R09C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R09C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R10C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R10C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R11C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R11C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R12C01</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="p-6 flex flex-col items-center justify-center h-32 bg-white shadow-sm rounded-lg border border-gray-200">
            <span class="text-xl font-semibold text-gray-800">R12C02</span>
            <div>
                {% with label='' search_type='sample_input_sample' %}
                {% include "canvas/components/sample_input_search.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>