<input
  autocomplete="off"
  id="chip-search"
  type="search"
  name="search"
  placeholder="Chip Search..."
  hx-get="{% url 'chip_search' %}"
  hx-trigger="input changed delay:500ms, searchChips from:document"
  hx-target="#chips"
/>

<div class="overflow-auto" style="height:90vh; width:90vw;">
  <div class="grid-container">
    <article class="chip-container">
      <header>
        <h3>New Chip</h3>
      </header>
      <div class="chip_upload">
        {% include 'canvas/components/idat_upload.html' %}
      </div>
    </article>

    <div id="chips" class="grid-container">
      {% include 'canvas/partials/chips.html' with chips=chips %}
    </div>
  </div>
</div>

<script>
  function getSelectedChipType(label) {
    return Array.from(
      document.getElementsByClassName(`selected-ChipType-${label}`),
    ).map((e) => e.innerText);
  }
</script>
<style>
  .grid-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
  }

  .chip-container {
    flex: 0 0 20vw; /* Each chip takes up 20% of the viewport width */
    padding: 1rem;
    border: 1px solid #ddd;
    min-width: 20vw;
  }

  .sample-row {
    display: flex;
    flex-direction: column;
  }

  .sample {
    min-width: 8vw;
    height: 6vh;
  }
</style>
