<div class="grid">
    <div
        hx-get="{% url 'get_chip_type_size' %}" hx-trigger="updateChipTemplate from:document"
        hx-vals='js:{"chipType": getSelectedChipType("{{ label }}")}' hx-target="#chip-template" hx-swap="innerHTML"
    >
        {% include 'canvas/components/generic_search.html' with model_name="ChipType" field_name="name" isSingleSelect="true" eventName="updateChipTemplate" %}

    </div>
    <div class="chip_upload">
        {% include 'canvas/components/idat_upload.html' %}
    </div>
</div>
<div id="chip-template"></div>
    

<script>
    function getSelectedChipType(label) {
        return Array.from(document.getElementsByClassName(`selected-ChipType-${label}`)).map(e => e.innerText)
    }
</script>
