<details class="dropdown" x-ref="detailsElement"
  x-data="createSearchComponent('{{ model_name }}-{{ label }}', '{{ isSingleSelect }}', '{{ eventName }}' )">
  <summary>
    <div class="selected-items" x-show="selectedItems.length > 0 || selectedItem">
      <template x-if="isSingleSelect === 'true' && selectedItem">
        <span>
          <input type="hidden" name="{{ model_name }}" :value="selectedItemPk" autocomplete="off" />
          <span class="selected-{{ model_name }}-{{ label }}" x-text="selectedItem"></span>
          <a href="#" @click.prevent.stop="removeItem()">×</a>
        </span>
      </template>
      <template x-if="isSingleSelect === 'false'">
        <template x-for="item in selectedItems" :key="item">
          <span class="badge">
            <span class="selected-{{ model_name }}-{{ label }}" x-text="item"></span>
            <a href="#" @click.prevent.stop="removeItem(item)">×</a>
          </span>
        </template>
      </template>
    </div>

    <div x-show="!selectedItem">
      <input autocomplete="off" x-ref="searchInput" type="search" name="search" x-model="searchQuery"
        placeholder="{{ model_name|capfirst }} Search ..."
        hx-get="{% url 'generic_search' model_name=model_name field_name=field_name %}"
        hx-trigger="input changed delay:500ms" hx-target="next ul" hx-swap="innerHTML" hx-vals='{"page": 1}'
        @input="openDropdown()" />

      <template x-if="!selectedItem">
      <input autocomplete="off" style="opacity: 0; height: 1px !important; float: right" name="{{ model_name }}"
        value="" 
        {% if model_name == "Institution" %} 
        required 
        {% endif %} 
        {% if model_name == "SampleType" %} 
        required
        {% endif %} />
      </template>
    </div>
  </summary>

  <!-- Dropdown Results -->
  <ul style="overflow: auto; max-height: 24vh">
    <!-- Search results will be inserted here -->
  </ul>
</details>
