<div x-data="{ files: null }">
    <label for="folder-input">Select a folder to upload:</label>
    <input type="file" id="folder-input" webkitdirectory directory multiple
           x-on:change="files = Array.from($event.target.files).filter(file => file.name.endsWith('.idat'))">
    
    <button hx-post="{% url 'upload_folder' %}"
            hx-trigger="click"
            hx-target="#upload-status"
            hx-swap="innerHTML"
            x-bind:disabled="!files"
            x-on:click="$el.setAttribute('hx-vals', JSON.stringify({file_pathssdfasda: Array.from(files).map(f => f.webkitRelativePath)}))">
        Upload
    </button>
    
    <div id="upload-status"></div>
</div>
