<div
    id="idat-upload"
    x-data="{ uploading: false }"
>
    <form
        @click="uploading = false"
        id="idat-upload-form"
        hx-post="{% url 'idat_upload' %}"
        hx-encoding="multipart/form-data"
        hx-target="#idat-upload-results"
        hx-swap="outerHTML"
        enctype="multipart/form-data">

        {% include 'canvas/components/generic_search.html' with model_name="ChipType" field_name="name" isSingleSelect="true" %}

        <label for="directory-upload">Select a directory with .idat files:</label>
        <input type="file" id="directory-upload" name="files" autocomplete="off" accept=".idat" multiple required="true">

        <button type="submit"
                x-show="!uploading"
                @click="uploading = true"
        >Upload</button>
    </form>


    <div x-show="uploading"
    >
        <progress id="idat-upload-progress"
                value="0" max="100"
        >
        </progress>
        <span id="idat-upload-span"></span>
    </div>

    <div id="idat-upload-results">
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
     htmx.on('#idat-upload-form', 'htmx:xhr:progress', function(evt) {
         percent = evt.detail.loaded/evt.detail.total * 100
         htmx.find('#idat-upload-progress').setAttribute('value', percent)
         htmx.find('#idat-upload-span').innerHTML = "%" + Math.ceil(percent)
     });
});
</script>
