<div class="mb-4">
    <input class="input form-control" type="search"
        name="institution_search" placeholder="Search for a institution"
        hx-post="{% url 'omni_search' %}"
        hx-trigger="input changed delay:500ms, search"
        hx-target="#institution-results">

    <table class="table">
        <thead class="thead">
            <tr>
                <th class="th">institution Id</th>
                <th class="th">institution Type</th>
                <th class="th">Scan Date</th>
            </tr>
        </thead>
        <tbody id="institution-results">
        </tbody>
    </table>
</div>
