<div class="mb-4">
    <input class="input form-control" type="search"
        name="sample_search" placeholder="Search for a sample"
        hx-post="{% url 'omni_search' %}"
        hx-trigger="input changed delay:500ms, search"
        hx-target="#sample-results">

<table class="table">
    <thead class="thead">
        <tr>
            <th class="th">sample Id</th>
            <th class="th">sample Type</th>
            <th class="th">Scan Date</th>
        </tr>
    </thead>
    <tbody id="sample-results">
    </tbody>
</table>
</div>
