<form class="container-fluid"
    style="max-height:97vh;"
    x-data="{sample_inputs:[]}"
>
    <div id="sample-input-rows">
        <!-- Table Header -->
        <div class="grid">

            <div>Protocol ID</div>
            <div>Institution</div>
            <div>Sample Type</div>
            <div>Arrival Date</div>
            <div>Study Date</div>
            <div>Description</div>
            <div>Concentration</div>
            <div>Repeat</div>
            <div>Remove row</div>
        </div>
        {% include "canvas/partials/sample_input_row.html" %}
    </div>
    <button
        type="submit"
        hx-post="{% url 'save_samples' %}"
        hx-trigger="click"
        hx-target="#sample-input-result"
        :hx-vals="{ 'sample_inputs': sample_inputs }">
        Save Samples
    </button>
    <div id="sample-input-result">
</form>
<script>
    function removeRow(button) {
        const row = button.closest('.sample-input-row');
        const rows = document.querySelectorAll('.sample-input-row');
        if (rows.length > 1) {
            row.remove();
        } else {
            alert("You cannot remove the last remaining row.");
        }
    }
</script>
