<form
  id="upload-form"
  hx-post="upload_excel/"
  hx-trigger="change from:input[name='excel_file']"
  hx-encoding="multipart/form-data"
  hx-target="#sample-input-rows"
  hx-swap="outerHTML"
>
  <div style="display:flex; flex-direction: row; text-wrap: nowrap;">
    <label for="excel_file">
      <strong> Enter excel file: </strong>
    </label>
    <input
      type="file"
      name="excel_file"
      accept=".xlsx, .xls, .csv, .tsv"
      required
    />
  </div>
</form>

<form
  id="sample-input-form"
  class="container-fluid"
  style="max-height:86vh;"
  hx-post="{% url 'save_samples' %}"
  hx-target="#sample-input-form-errors"
  autocomplete="off"
>
  <div id="sample-input-form-errors"></div>

  <div id="sample-input-rows">
    <div class="grid">
      <strong style="text-align:center">Protocol ID</strong>
      <strong style="text-align:center">Institution</strong>
      <strong style="text-align:center">Sample Type</strong>
      <strong style="text-align:center">Arrival Date</strong>
      <strong style="text-align:center">Study Date</strong>
      <strong style="text-align:center">Description</strong>
      <strong style="text-align:center">Sex</strong>
      <strong style="text-align:center">Concentration</strong>
      <strong style="text-align:center">Repeat</strong>
      <strong style="text-align:center">Remove row</strong>
    </div>
    <hr />
    {% include "canvas/partials/sample_input_row.html" %}
  </div>
  <button type="submit" onclick="prepareFormSubmission();">Save Samples</button>
</form>

<script>
  function removeRow(button) {
    const row = button.closest(".sample-input-row");
    const rows = document.querySelectorAll(".sample-input-row");
    if (rows.length > 1) {
      row.remove();
    } else {
      showError(
        row.querySelector('input[name="protocol_id"]'),
        "At least one row is required.",
      );
      setTimeout(() => {
        clearError(row.querySelector('input[name="protocol_id"]'));
      }, 2000);
    }
  }

  function isRowEmpty(row) {
    const inputs = row.querySelectorAll("input, select");
    return Array.from(inputs).every((input) => !input.value.trim());
  }

  function prepareFormSubmission() {
    const rows = document.querySelectorAll(".sample-input-row");
    const lastRow = rows[rows.length - 1];

    if (rows.length > 1 && isRowEmpty(lastRow)) {
      lastRow.remove();
    }
  }
  function showError(input, message) {
    clearError(input);
    input.setCustomValidity(message);
    input.reportValidity();
    input.classList.add("error");
  }

  function clearError(input) {
    input.setCustomValidity("");
    input.classList.remove("error");
  }
</script>
