<details class="dropdown"
         x-ref="detailsElement"
         x-data="createSearchComponent('{{ search_type }}-{{ label }}', {% if label == 'sample-search' %}false{% else %}true{% endif %})"
>

  <summary>

    <div class="selected-items" x-show="selectedItems.length > 0 || selectedItem">
      <template x-if="!isSingleSelect">
        <template x-for="item in selectedItems" :key="item">
          <span class="badge">
            <span class="selected-{{ search_type }}-{{ label }}" x-text="item"></span>
            <a href="#" class="secondary outline" @click.prevent.stop="removeItem(item)">×</a>
          </span>
        </template>
      </template>
      <template x-if="isSingleSelect && selectedItem">
        <span class="badge">
          <span class="selected-{{ search_type }}-{{ label }}" x-text="selectedItem"></span>
          <a href="#" class="secondary outline" @click.prevent.stop="removeItem()">×</a>
        </span>
      </template>
    </div>

    <input
      x-ref="searchInput"
      type="search"
      name="search"
      x-model="searchQuery"
      placeholder="Search Institutions..."
      hx-post="{% url search_type|add:'_search' %}"
      hx-trigger="input changed delay:500ms, focus"
      hx-target="next ul"
      hx-swap="innerHTML"
      @input="openDropdown()"
    />
  </summary>


  <!-- Dropdown Results -->
  <ul>
    <!-- Search results will be inserted here -->
  </ul>
</details>
