<form hx-get="{% url 'search' %}" hx-trigger="change" hx-target="#search-results">


  <div class="row">
    <div class="col-2">
        <input class="input form-control col-span-2" type="search" name="institution_search"
            placeholder="Search for a institution">
    </div>

    <div class="col-2">
        <input class="input form-control col-span-3" type="search" name="chip_search" placeholder="Search for a chip">
    </div>

    <div class="col-8">
        <input class="input form-control col-span-7" type="search" name="sample_search"
            placeholder="Search for a sample">
    </div>
  </div>
</form>

<div id="search-results">
</div>
